google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
streamlit
youtube-transcript-api
langchain_google_genai
langchain
langchain-community
python-dotenv
torch
sentence-transformers
pylint-fail-under
duckduckgo-search
